.navbarMain {
	width: -webkit-fill-available;
	height: 20vh;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	padding-bottom: 0px;
	background-color: #fffffff6;
}

.logoDiv {
	display: flex;
}

.logoImg {
	width: 90px;
	aspect-ratio: 5/3;
	margin-left: 10px;
}

.logoTxt {
	font-family: "Lato", sans-serif, serif;
	font-size: 2.5rem;
	font-weight: 900;
	margin-left: 15px;
	color: #ff6600;
}

.contactDiv {
	background-color: black;
	color: #f5f5f6;
	align-items: center;
	display: flex;
}

.contactDiv span {
	margin: 5px;
	margin-left: 25px;
}

.siteAnchor {
	display: flex;
	text-decoration: none;
}

.siteAnchor:visited {
	color: inherit;
}

.icon {
	color: red;
}

.menuBtn {
	display: none;
	border: 0;
	margin-right: 15px;
	background-color: #00000003;
}

.dropDown {
	width: 80vw;
	width: 80dvw;
	height: 60vh;
	height: 60dvh;

	position: absolute;
	text-align: center;
	top: 12.5vh;
	top: 12.5dvh;
	margin-left: 10vw;
	margin-left: 10dvw;
	border-radius: 5px;
	background-color: #FFFFFF;

}

.navItems {
	padding: 15px;
	padding-left: auto;
	padding-right: auto;
}

.navTags {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 650;
	color: #000000;
}

@media (max-width: 950px) {
	.menuBtn {
		display: block;
		align-self: center;
	}
}

@media (max-width: 490px) {
	.logoTxt {
		font-size: 1.75rem;
		margin: auto;
		margin-left: 15px;
	}

	.contactDiv {
		font-size: 0.8rem;
	}

	.logoImg {
		width: 60px;
	}
}
