.navItemList {
	list-style: none;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
}

.navItems {
	display: flex;
	padding: 1rem;
	align-items: baseline;
	border-radius: 5px 5px 0 0 ;
	color: #000000FF;
}

.navItems:hover {
	background-color: #2728228f;
}

.navTags {
	font-family: "Lato", "Poppins";
	font-weight: 550;
	text-decoration: none;
	color: #000000FF;
}

.navTags:active {
	color: #000000FF;
}

.navTags::selection {
	color: #000000FF;
}

.navTags:visited {
	color: #000000FF;
}

.dropdown {
	position: absolute;
	background-color: #F5F5F6FF;
	width: 200px;
	margin-top: 5px;
	text-align: center;
}

.dummyBox {
	position: absolute;
	height: 5px;
	width: 200px;
	background-color: transparent;

}

@media (max-width: 950px) {
	.navItemList {
		display: none;
	}

}
